<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zombie Factory</title>
    <base href="/" />
  </head>
  <body>
    <h1>Zombie NFT maker: Create Your Own Zombie</h1>
    <div id="root"></div>
  </body>
</html>